*{
    font-family: 'Times New Roman', Times, serif;
    background-color: #202120;
}

.res{
    font-weight: 500;
    color: skyblue;
 
}

.com{
    font-weight: 500;
    color: lightgreen;
}

.fun{
    font-weight: 500;
    color: yellow;

}

.ids{
    font-weight: 500;
    color: white;

}

.str{
    font-weight: 500;
    color: lightsalmon;

}

.ops{
    font-weight: 500;
    color: #f81d5bcc;

}

.int{
    font-weight: 500;
    color: #4b51f0cc;

}

.lib{
    font-weight: 500;
    color: #c9c409cc;
}

body{
    font-weight: 500;
    color: lightgrey;

}