*{
    font-family: 'Times New Roman', Times, serif;
    background-color: #202120;
}

.res{
    font-weight: 500;
    color: rgb(18, 239, 47);
 
}

.com{
    font-weight: 500;
    color: rgb(18, 116, 18);
}

.fun{
    font-weight: 500;
    color: rgb(188, 14, 159);

}

.ids{
    font-weight: 500;
    color: rgb(123, 160, 171);

}

.str{
    font-weight: 500;
    color: rgb(188, 167, 8);

}

.ops{
    font-weight: 500;
    color: #bd4f14f1;

}

.int{
    font-weight: 500;
    color: #9e33f0cc;

}

.lib{
    font-weight: 500;
    color: #0fbb23cc;
}

body{
    font-weight: 500;
    color: lightgrey;

}